node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# vscode
.vscode

# env
.env
.links/GitHub - Job Search React Native App (23).url
.links
